<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <abhay>
            <header>
                <header_color>#0099e5</header_color>
            </header>
            <footer>
                <shownewsletter_enable>1</shownewsletter_enable>
            </footer>
        </abhay>
    </default>
</config>